<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>erp-coors</title>

<div th:replace="fragments/header :: header-css" />

<!-- JS file https://www.jsdelivr.com/package/npm/easy-autocomplete?path=dist  -->
<script src="https://cdn.jsdelivr.net/npm/easy-autocomplete@1.3.5/dist/jquery.easy-autocomplete.min.js"></script>

<!-- CSS file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easy-autocomplete@1.3.5/dist/easy-autocomplete.min.css"> </link>

<!-- Additional CSS Themes file - not required-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easy-autocomplete@1.3.5/dist/easy-autocomplete.themes.min.css"> </link>

<script type="text/javascript">
$(document).ready(function(){
	// Sugestions on clients
	var options_cli = {
		placeholder: "Nome ou ID do cliente",
		requestDelay: 500,
		url: function(phrase) {
			return "../clientes/filtrar?phrase=" + phrase;
		},
		getValue: "name",
		list: {
			onSelectItemEvent: function() {
				var id = $("#cli_name").getSelectedItemData().id;
				var cpf = $("#cli_name").getSelectedItemData().cpf_cnpj;

				$("#cli_id").val(id).trigger("change");
				$("#cli_cpf").val(cpf).trigger("change");
			},
			onLoadEvent: function() {
				$("#cli_id").val("").trigger("change");
				$("#cli_cpf").val("").trigger("change");
			},
			showAnimation: {
				type: "fade", //normal|slide|fade
				time: 400,
				callback: function() {}
			},
			hideAnimation: {
				type: "slide", //normal|slide|fade
				time: 400,
				callback: function() {}
			}
		}
	};

	$("#cli_name").easyAutocomplete(options_cli);
	
	// Sugestions on products
	var options_prod = {
			placeholder: "Produto à adicionar",
			requestDelay: 500,
			url: function(phrase) {
				return "../produtos/filtrar?phrase=" + phrase;
			},
			getValue: "description",
			list: {
				onSelectItemEvent: function() {
					var unit = $("#prod_add").getSelectedItemData().unit;
					var val_ = $("#prod_add").getSelectedItemData().value;
					var id_ = $("#prod_add").getSelectedItemData().id;

					$("#prod_medida").val(unit).trigger("change");
					$("#prod_v_total").val(val_).trigger("change");
					$("#prod_add_id").val(id_).trigger("change");
					$("#prod_qnt").val(1).trigger("change");
				},
				onLoadEvent: function() {
					$("#prod_medida").val("").trigger("change");
					$("#prod_v_total").val("").trigger("change");
					$("#prod_qnt").val(0).trigger("change");
				},
				showAnimation: {
					type: "fade", //normal|slide|fade
					time: 400,
					callback: function() {}
				},
				hideAnimation: {
					type: "slide", //normal|slide|fade
					time: 400,
					callback: function() {}
				}
			}
		};

		$("#prod_add").easyAutocomplete(options_prod);
});
</script>
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container">
		<div class="row" style="text-align: center; padding-bottom: 40px;">
			<h1>Orçamento</h1>
		</div>
		<div class="row">
			<form th:action="@{/orcamentos/novo}" th:object="${order}"
				method="POST">

				<div class="form-group row">
					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-1">
						<input type="text" class="form-control input-sm" id="id"
							th:field="*{id}" readOnly="readonly" />
					</div>
				</div>

				<div class="form-group row">
					<label for="name" class="col-sm-1 col-form-label">Cliente</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="cli_name"
							th:field="*{client.name}" placeholder="Cliente"> </input>
					</div>
					
					<div class="col-sm-1">
						<input type="text" class="form-control" id="cli_id" readOnly="readonly"
							th:field="*{client.id}"> </input>
					</div>
					
					<div class="col-sm-2">
						<input type="text" class="form-control" id="cli_cpf" readOnly="readonly"
							th:field="*{client.cpf_cnpj}"> </input>
					</div>
				</div>

				<div class="form-group row">
					<label for="name" class="col-sm-1 col-form-label">Num. Prod.:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="cli_id" readOnly="readonly" 
						   th:value="*{totalItens}"
							> </input>
					</div>
					
					<label for="name" class="col-sm-1 col-form-label">Valor:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="cli_id" readOnly="readonly" 
							th:value="${#numbers.formatDecimal(order.fullValue, 0, 'COMMA', 2, 'POINT')}"> </input>
						<input type="hidden" class="form-control" id="cli_id" readOnly="readonly"
							th:field="*{fullValue}"> </input>
					</div>
					
					<label for="name" class="col-sm-1 col-form-label">Desconto:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="cli_id" 
							th:value="${#numbers.formatDecimal(order.discount, 0, 'COMMA', 2, 'POINT')}"> </input>
						<input type="hidden" class="form-control" id="cli_id" readOnly="readonly"
							th:field="*{discount}"> </input>
					</div>
					
					<label for="name" class="col-sm-1 col-form-label">Valor Final:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="cli_id" readOnly="readonly"
							th:value="${#numbers.formatDecimal(order.value, 0, 'COMMA', 2, 'POINT')}"> </input>
						<input type="hidden" class="form-control" id="cli_id" readOnly="readonly"
							th:field="*{value}"> </input>
					</div>
				</div>
				
				<div class="row" style="text-align: center; padding-bottom: 40px;">
					<h3>Produto</h3>
				</div>
				
				<div class="form-group row">
					<label for="name" class="col-sm-1 col-form-label">Produto:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="prod_add"
							placeholder="Produto a adicionar"> </input>
						<input type="hidden" class="form-control" id="prod_add_id" name="prod_add_id"
							> </input>
					</div>
					
					<div class="col-sm-1">
						<input type="text" class="form-control" id="prod_medida" placeholder="Kg" readOnly="readonly"
							> </input>
					</div>
					
					<label for="name" class="col-sm-1 col-form-label">Quantidade:</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="prod_qnt" name="prod_qnt"
							> </input>
					</div>
					
					<label for="name" class="col-sm-1 col-form-label">Valor Total:</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="prod_v_total"
							> </input>
					</div>
					
					<div class="col-sm-1">
						<button type="submit" name="newItem" value="newItem" class="btn btn-primary">Adicionar</button>
					</div>
				</div>
				
				<div class="row" style="text-align: center; padding-bottom: 40px;">
					<h3>Lista de Produtos Adicionados</h3>
				</div>
				
				<div class="form-group row">
					<table style="" class="table table-hover table-striped">
						<thead>
							<tr>
								<th style="text-align: center">Códido</th>
								<th style="">Descrição</th>
								<th style="text-align: center">Unidade</th>
								<th style="text-align: center">Valor Unit.</th>
								<th style="text-align: center">Quantidade</th>
								<th style="text-align: center">Valor Total</th>
								<th style="text-align: center">Excluir</th>
							</tr>
						</thead>
						
						<tbody th:each="prod, stat: *{prods}">
							<input type="hidden" class="form-control" th:field="*{qnts[__${stat.index}__]}"> </input>
							<input type="hidden" class="form-control" th:field="*{prods[__${stat.index}__].id}"> </input>
							<input type="hidden" class="form-control" th:field="*{prods[__${stat.index}__].cod}"> </input>
							<input type="hidden" class="form-control" th:field="*{prods[__${stat.index}__].unit}"> </input>
							<input type="hidden" class="form-control" th:field="*{prods[__${stat.index}__].description}"> </input>
							<input type="hidden" class="form-control" th:field="*{prods[__${stat.index}__].value}"> </input>

							<tr>
								<td style="text-align: center" th:text="${prod.cod}"></td>
								<td style="" th:text="${prod.description}"></td>
								<td style="text-align: center" th:text="${prod.unit}"></td>
								<td style="text-align: center" th:text="${#numbers.formatDecimal(prod.value, 0, 'COMMA', 2, 'POINT')}"></td>
								<td style="text-align: center" th:text="*{qnts[__${stat.index}__]}"></td>
								<td style="text-align: center" th:text="${#numbers.formatDecimal((prod.value * order.qnts[__${stat.index}__]), 0, 'COMMA', 2, 'POINT')}"></td>
								<td style="text-align: center">
									<button type="submit" class="btn btn-default"
										th:value="${prod.id}" name="rmProd">
										<i class="glyphicon glyphicon-trash icon-white"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" name="newOrder" class="btn btn-primary">Gravar</button>
					</div>
				</div>

			</form>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer" />

</body>
</html>